html,
body {

  margin: 0.5em;
 /* background-image: url("images/laptop.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;*/
  font-family: tahoma;
  
}

h1, h2 {
    color: white;
}


.item-a {
    grid-area: header;
    background-color: white;
    grid-column: 4;

    max-height: 30px;
    width: auto;


  }

  .grid-right {
    display: grid;
   
    
    grid-template-columns:  1fr 1fr 1fr;
  }

  ul li {
    list-style-type: none;
    display: inline;
  }

  li a {
    text-decoration: none;
    color:black;
    border-bottom: 1px dotted #ef32d9;
    
    }


  .item-b {
    grid-area: main;
    background-color: white;
    height: 350px;
    background-image: linear-gradient(to right,#87CEEB,#89fffd);
    padding: 2px;
  }

  .item-b2 {
    grid-area: main2;
    background-color: grey;
    min-height: 150px;
    justify-content: center;
 
  }

  .item-c {
    grid-area: footer;
    background-color: white;
  
  }

  .item-a1 {
    grid-area: header1;
    background-color: white;
    grid-column: 4;

    max-height: 30px;
    width: auto;


  }
.container {
    grid-gap: 12px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
        
      "header1 header1 header header"
      "main main main main"
      "main2 main2 main2 main2"
      "footer footer footer footer";
  }





  .wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    justify-content: center;
    padding: 15px;
  }
  
  .box {
    background-color: grey;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: 100%;
  }

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 5rem;
  height: 5rem;
}
